<!-- Header -->
<%- include('partials/header.ejs') %>


<!-- Content -->
<h1>Compose</h1>


<!-- New Post Form -->
<form class="" action="/compose" method="post">
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="postTitle" value="">
    </div>

    <div class="form-group">
        <label for="">Post</label>
        <textarea class="form-control" name="postContent" rows="8" cols="80"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button">Publish</button>
    </div>
</form>


<!-- Footer -->
<%- include('partials/footer.ejs') %>
