/*
#5D5B6A
#758184
#CFB495
#F5CDAA
*/
body {
    background: #758184;
    color: #F5CDAA;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    text-align: center;
}

h1 {
    font-family: 'Long Cang', cursive;
    margin-top: 0px;
}

h2 {
    font-family: 'EB Garamond', serif;
}

h3 {
    font-family: 'EB Garamond', serif;
}

.top-container {
    background-color: #5D5B6A;
    padding-top: 100px;
    position: relative;
}

.middle-container {

}

.bottom-container {
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.mountain {}
